.navbar {
  z-index: 999;
}

.logo-container {
  margin-right: 1.5rem;
}

.search-container {
  flex: 1;
  max-width: 600px; /* Adjust based on your design needs */
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #8d8b8b;
  font-size: 1.2rem;
}

.search-input {
  padding-left: 2.5rem; /* Ensure enough space for the icon */
  border: none;
  background: #fbfeff6b;
  outline: none;
  border-radius: 5px;
}

.language-link {
  margin-left: 1rem;
  text-decoration: none;
}

.language-text {
  margin-right: 3px;
  font-size: 1rem;
  color: #9a47f8;
}

.nav-icons {
  width: 1.6rem;
  height: 1.6rem;
  color: #8269df;
}

.profile-container a {
  padding: 10px 15px;
  background-color: #ccc2f863;
  border-radius: 12px;
  font-weight: bold;
}

.profile-container a .nav-icons {
  margin-left: 5px;
  color: #8269df;
}
