.category-section {
  margin-bottom: 20px;
}

.category-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

.category-list {
  list-style-type: none;
  padding-left: 0; /* Corrected padding for unordered list */
}

.category-item {
  margin-bottom: 10px;
}

.category-link {
  text-decoration: none;
  font-size: 1rem;
  color: #b3adad;
  display: inline-block;
  transition: color 0.3s ease;
  background: none; /* Removes default button background */
  border: none; /* Removes default button border */
  cursor: pointer; /* Adds pointer cursor for button hover */
  padding: 0; /* Removes default button padding */
}

.category-link:hover {
  color: #000000;
}

.category-link.active {
  color: #6200ea;
  font-weight: bold;
}
